/*Color de mi pagina web*/
body{
  background-color: rgb(248, 236, 236) !important ;
  
} 
/*media query para dispositivos pequeños*/
@media(max-width: 600px){
    body{
        font-size:  16px;
        background-color: rgba(81, 101, 76, 0.818);
    }
   
}
/*media query para dispositivos grandes*/
@media(min-width: 768px){
    body{
        font-size:  18px;
        background-color: rgb(240, 212, 212);
    }
}
/*Color, formato y posicion del titulo*/
.titulo{
    color: rgb(48, 34, 34);
    font-style: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

/*Color, formato y posicion del subtitulo*/
.subtitulo{
    color: rgb(48, 34, 34);
    font-style: initial;
    text-align: left;
}
/*Color, formato y posicion del texto*/
.descripcion{
    color: rgba(70, 60, 60);
    font-style: initial;
    font-weight: 200;
    text-align: left;
}

/*Posicion de mi carrusel en index.html*/
.contenedor{
    display: flex;
    justify-content: center;
}

/*Posicion del formulario de subscripcion en index.html*/
.formulario-subscricion{
    display: flex;
    justify-content: left;
    align-items: left;
}

/*Animaciones y transiciones de productos.html*/
.transicion-imagen img {
    max-width: 100%;
    height: auto;
    transition-property: transform;
    transition-duration: 5s;
    transition-delay: 3s;
}

.producto {
    display: flex;
    justify-content: left;
    align-items: left;
}

/*Formado de las imagenes de productos.html*/
.producto img{
    margin: 10px;
    background-color: rgb(240, 212, 212);
    border: 10px solid rgb(48, 34, 34);
}
/*evento en la pagina web*/
.transicion-imagen:hover{
    transform: scale(1.2);
}
/*Formado de los subtitulos en toda la web*/
.subtitulo{
    color: rgb(48, 34, 34);
    font-style: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Estilos para el formulario de subscricion.html*/
.formulario {
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    margin: auto; 
}

/* Estilos para los elementos del formulario subscricion.html*/
.formulario label,
.formulario input,
.formulario textarea {
    margin-bottom: 10px;
}
/* Estilos para el botón de envío subscricion.html*/
.formulario input[type="submit"] {
    align-self: left; 
}
/* Estilos para la imagen en subscricion.html*/
.lema-nilo{
 animation-name: fraseAnimacion; 
 animation-duration: 10s;
 animation-iteration-count: 4; 
}

@keyframes fraseAnimacion {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*Formato de mi footer*/
footer{
    background-color: rgb(240, 212, 212);
    color: rgb(51, 41, 41);
    font-style: initial;
}